<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="File_Processor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <File_Processor.Properties.Settings>
            <setting name="LastChecked" serializeAs="String">
                <value>0001-01-02</value>
            </setting>
            <setting name="MultipleCategories" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Deduplication" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseFileNameDeduplication" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseFileContentDeduplication" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Security" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MalwareAnalysis" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TotalVirusAPIKey" serializeAs="String">
                <value />
            </setting>
        </File_Processor.Properties.Settings>
    </userSettings>
</configuration>